@model Filmotekica.Models.reziser

@{
    ViewBag.Title = "Create";
}

<h2>Spisak rezisera</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Reziser</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.imerezisera, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.imerezisera, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.imerezisera, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.starost, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.starost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.starost, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kreiraj" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Povratak na tabelu", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
